.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 60px;
  background-color: orange;
  transform: translateX(-50%);

  button {
    height: 90%;
    background-color: grey;

    &.active {
      background-color: beige;
    }
  }
}
